/*
p0/m0 : padding:0/ margin:0
mt/-mt:margin-top, mr/-mr:margin-right, mb/-mb:margin-bottom, ml/-ml:margin-left;
pt/-pt:padding-top, pr/-pr:padding-right, pb/-pb:padding-bottom, pl/-pl:padding-left;
f- font; ln- line-height; cursor-pointer/move/default: pointer/move/default
NOTE: 1. pt/mt/t/r/b/l are have positive values
	  2. -pt/-mt/-t/-r/-b/-l are have negative values
	  3. t/r/b/l works with position values only
*/

/*-- FONT SIZE --*/
.f9{font-size:9px!important}
.f10{font-size:10px}
.f11{font-size:11px}
.f12{font-size:12px !important}
.f14{font-size:14px !important}
.f16{font-size:16px!important}
.f18{font-size:18px}
.f21{font-size:21px}
.f24{font-size:24px}
.f36{font-size:36px}
.f40{font-size:40px;}
.f60{font-size:60px;}

/*-- LINE-HEIGHT --*/
.lh5{line-height:5px!important;}
.lh9{line-height:9px}
.lh10{line-height:10px!important;}
.lh11{line-height:11px}
.lh12{line-height:12px}
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh21{line-height:21px}
.lh24{line-height:24px}
.lh36{line-height:36px}
.lh40{line-height:40px;}
.lh60{line-height:60px;}


/*-- CURSOR --*/
.cursor-pointer{cursor:pointer}
.cursor-move{cursor:move}
.cursor-default{cursor:default}

/*-- BORDERS --*/
.border{border:1px solid #ccc}
.border-bottom{border-bottom:1px solid #ccc}
.border-right{border-right: 1px solid #ccc;}

/*-- POSITIONS --*/
.fixed{position:fixed}
.relative{position:relative}
.absolute{position:absolute}
/*-- Z-INDEX --*/
.-z9{z-index:-9}
.-z3{z-index:-3}
.-z2{z-index:-2}
.-z1{z-index:-1}
.z0{z-index:0}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z9{z-index:9}
/*-- WIDTHS --*/
.width-full{width:100%!important}
.width-auto{width:auto}
.w15{width:15px;}
.w25{width:25px;}
.w150{width:150px}
/*--HEIGHTS--*/
.h13{height:13px}
.h21{height:21px}

/*---*/
.maxhw40{max-height:40px;max-width:40px;}

/*-- PADDINGS --*/
.p0{padding:0 !important;}
.pl0{padding-left:0!important}
.pr0{padding-right:0 !important}
.p2{padding:2px;}
.pt2{padding-top: 2px;}
.pb2{padding-bottom: 2px;}
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pl5 {padding-left: 5px;}
.ptb7{padding-top:7px;padding-bottom:7px;}
.ptrl5{padding-top:5px;padding-right:5px;padding-left:5px;}
.p10{padding:10px}
.pt10{padding-top: 10px;}
.pr10{padding-right:10px}
.pr26{padding-right:26px}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.prl10, .plr10{padding-right:10px;padding-left:10px}
.ptb10{padding-top:10px;padding-bottom:10px}
.p15{padding:15px}
.prl15, .plr15{padding-left: 15px;padding-right: 15px;}
.p20{padding:20px}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pb28{padding-bottom: 28px!important;}
.pt50{padding-top: 50px;}
.pb50{padding-bottom: 50px;}
.pl67{padding-left: 67px;}
.pl100{padding-left:100px;}
.pl120{padding-left:120px;}
.pl160{padding-left:160px!important}
.mtb {margin-top: 10px;margin-bottom:10px;}
/*-- MARGINS --*/
.-mt13{margin-top: -13px;}
.-mt8{margin-top:-8px}
.-ml4{margin-left:-4px;}
.-mt2{margin-top:-2px;}
.m0{margin:0}
.mt0{margin-top:0}
.mb0{margin-bottom: 0}
.mt5 {margin-top: 5px;}
.mt2{margin-top: 2px;}
.mb5{margin-bottom:5px;}
.mt8{margin-top:8px;}
.m10{margin:10px;}
.mrl10{margin-right:10px;margin-left:10px}
.mtb10{margin-top:10px;margin-bottom:10px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mr8{margin-right:8px;}
.mt15{margin-top:15px;}
.mr15{margin-right:15px;}
.mb15{margin-bottom:15px;}
.ml15 {margin-left: 15px !important;}
.mt20{margin-top:20px}
.mtb25{margin-top:25px;margin-bottom:25px}
.mb30{margin-bottom:30px}
.mt40{margin-top:40px;}
.mr40{margin-right:40px;}
.ml0 {
	margin-left: 0 !important;
}
/*--TOP/RIGHT/BOTTOM/LEFT--*/
.-t8{top:-8px}
.-t4{top:-4px}
.-t2{top:-2px}
.t0{top:0}
.r0{right:0}
.b0{bottom:0}
.l0{left:0}
.t10{top:10px}
.r10{right:10px}
.b10{bottom:10px}
.l10{left:10px}
.l4{left:4px;}
.t15{top: 15px;}
.t20{top: 20px;}
.t45{top:45px;}
.t95{top:95px;}

.r220{right:220px;left:auto}
.r280{right:280px;left:auto}
.b10{bottom:10px}

/*COLORS*/
.transparent{color:transparent!important;}
.red{color:#EC313E!important}
.green{color:#53C24D!important}
.gray{color:#a0a0a0!important}
.blue{color:#221f60!important}
.sky-blue{color:#0a80df!important}
.ash {color: #a9aaae!important}
.blue-transp {color: rgba(169, 170, 174, 0.8) !important;}
.darkblue {color: #3897e6!important;}
.light-blue{color:#A5A5BF!important}
/*Backgrounds*/
.no-bg {background: transparent!important;}
.light-blue-bg {	background: #edeff5 !important;}
.light-orange {	background: #feeef1 !important;}
.light-blue2-bg{background:#7CB5EC!important}
.light-black-bg{background:#434348!important}
.light-green-bg{background:#90ED7D!important}
.orange-bg{background:#F7A35C!important}
.green-bg {background: green !important;}
.red-bg {background: red !important;}
.light-bg{background:#F2F3F9!important}
.white-bg{background:#fff!important}

.blue-bg{background:#12325a!important}
.green-bg{background:#acad00!important}
.sky-blue-bg{background:#22baf1!important}
.light-dark-blue {background: #c6e3f1 !important;}

/*---HEIGHTS / WIDTHS-*/
.min-height100{min-height:100px}
.min-height120{min-height:120px}
.height155{height:155px}

.border-none {border: none!important;}
.border-top-none{border-top:none!important}
.border-lr-none {border-right: none!important;	border-left: none !important;}
.colored-border-top4{border-top:4px solid #9b9cb9}
.border-blue {
    border-color: #a9d2e8 !important;
}
/* FONTs*/
.roboto-condensed{font-family: "RobotoCondensed"}
.roboto-regular{font-family: "RobotoRegular"}
.text-normal{text-transform: none!important;}
.opaque{
	opacity: 0.5;}
/*Display*/
.display-block{display:block;}
.display-inline{display:inline;}
.display-inline-block{display:inline-block;}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.max-width100p {
    max-width: 100%;
    width: 100%;
}
.text-dec-none {
    text-decoration: none !important;
}