body{margin:0;padding:90px 0 0 219px}
body.leftpanel-collapsed{padding-left:50px;transition:all ease 0.3s;}
.logopanel {display: inline-block;}
/*Header*/
#header {position: fixed;top: 0;width:100%;z-index: 3;left: 0;padding: 5px 10px;background:#00051f; }
.header-right {display: inline-block;float: right;}
/*Page-header*/
.pageheader {background: #01588e;left: 0;padding-left: 40px;position: fixed;top: 55px;width: 100%;z-index:2;}
/*Toggle Button*/
.menutoggle {cursor: pointer;display: inline-block;height: 30px;left: 11px;position: absolute;top: 3px;width: 30px;}	
.menutoggle i.fa {color: rgba(255, 255, 255, 0.6);font-size: 21px;margin-left: 5px;margin-top: 4px;}
/*LeftPanel*/
.leftpanel {overflow-x: inherit;overflow-y: hidden;position: fixed;top:89px;left:0;width: 219px; background: #1B558C;transition:all ease 0.3s;z-index: 3;}
.nav-bracket{border-top:1px solid rgba(255,255,255,0.25)}
.nav-bracket > li > a {padding: 7px 10px;border-radius: 0px;border-bottom: 1px solid rgba(255, 255, 255, 0.25);color: #fff;text-transform: uppercase;}
.nav-bracket > li > a:hover, .nav-bracket > li > a:focus, .nav-bracket > li > a:active {background: rgba(0, 0, 0, 0.3)}
.nav-bracket > li.nav-parent.nav-active > a , .nav-bracket > li.nav-parent.nav-active > a:focus {background-color: #1c3249;color: #fff;}
.nav-bracket > li.active > a, .nav-bracket > li.active > a:focus {background-color: #1c3249;color: #fff;}
.nav-bracket > li.nav-active .fa, .nav-bracket > li.nav-active .glyphicon {color: #fff;}
.nav-bracket > li.nav-active a .fa-caret-right {color: rgba(255,255,255,0.3); font-size: 12px;}
.leftpanel-collapsed .nav-bracket > li.nav-parent .children li a .fa-caret-right {font-size: 12px;color: rgba(255,255,255,0.3);}
.nav-bracket > li.nav-parent.nav-active > a:hover {}
.nav-bracket > li.nav-active > a:focus {color: #fff;background-image:none;}
.nav-bracket > li.active > a {color: #fff; }
.nav-bracket > li.active > a .fa, .nav-bracket li.active .glyphicon, .nav-bracket > li:hover > a .fa, .nav-bracket li:hover .glyphicon {color: #fff;}
.nav-bracket li .fa, .nav-bracket li .glyphicon {font-size: 16px;vertical-align: middle;margin-right: 10px;width: 16px;text-align: center;color: #cccccc;}
.nav-bracket > li > a > .badge {margin-top: 2px;}
.nav-bracket .children {list-style: none;display: none;padding: 0;background: #013a5e;border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.nav-parent.nav-active .children li {border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
.nav-parent.nav-active .children li a{ color: #fff;display: block; font-size: 13px; padding: 5px 0 5px 27px; transition: all 0.2s ease-out 0s; text-decoration:none;}
.nav-parent.nav-active .children li:last-child{border-bottom:none;}
.nav-bracket .children > li > a {color: #fff;font-size: 13px;display: block;padding: 5px 0 5px 27px;-moz-transition: all 0.2s ease-out 0s;-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
.nav-bracket .children > li > a > span {margin-top: 3px;}
.leftpanel-collapsed ul.children li:hover {background:#ccc;}
.nav-bracket .children > li.active, .nav-bracket .children > li > a:hover, .nav-bracket .children > li > a:active, .nav-bracket .children > li > a:focus {text-decoration: none;background-color: #215372;}
.nav-bracket .children > li .fa {font-size: 12px;opacity: 0.5;margin-right: 5px;text-align: left;width: auto;vertical-align: baseline;color: #666565;}
.leftpanel-collapsed .nav-bracket .children > li .fa {font-size: 12px;opacity: 0.5;margin-right: 5px;text-align: left;width: auto;vertical-align: baseline;color: #666565;}
.nav-bracket .children > li.active > a {color: #fff;}
.nav-bracket .children ul {margin-left: 12px;border: 0;}
.leftpanel-collapsed .headerbar {margin-left: 0px;}
.leftpanel-collapsed .leftpanel {width: 50px;top: 90px;}
.leftpanel-collapsed .leftpanelinner {padding: 0;}
.leftpanel-collapsed .leftpanelinner .sidebartitle {display: none;}
.leftpanel-collapsed .nav-bracket li a {text-align: center;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 10px;position: relative;}
.leftpanel-collapsed .nav-bracket > li > a:hover {border-radius: 2px 0 0 2px;}
.leftpanel-collapsed .nav-bracket > li.nav-parent > a {background-image: none;}
.leftpanel-collapsed .nav-bracket > li > a {position:relative; z-index:auto}
.leftpanel-collapsed .nav-bracket > li > a .badge {display: none;}
.leftpanel-collapsed .nav-bracket > li.active > a > span:last-child {-moz-border-radius: 0 2px 0 0;-webkit-border-radius: 0 2px 0 0;border-radius: 0 2px 0 0;}
.leftpanel-collapsed .nav-bracket ul {display: none;}
.leftpanel-collapsed .nav-bracket > li.nav-hover > a {background: #3F3F3F;color: #1d2939;}
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a {background: #105196;/*105196*/color: #fff;}
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a > span:last-child {background: #105196;color: #fff;}
.leftpanel-collapsed .nav-bracket li.nav-hover ul {display: block;position: fixed;top: 40px;left: 48px;margin: -41px 0 0;width:208px;background: #013a5e;padding-left:0;z-index: 100;-moz-border-radius: 0 0 2px 0;-webkit-border-radius: 0 0 2px 0;border-radius: 0 0 2px 0;box-shadow: 2px 2px 8px rgba(163, 161, 161, 0.5);}
.leftpanel-collapsed .nav-bracket li.nav-hover ul.children li{padding-left:17px;}
.leftpanel-collapsed .nav-bracket li.nav-hover ul.children li:hover {padding-left:17px;background:#e4e7ea;}
.leftpanel-collapsed .nav-bracket ul a {text-align: left;padding: 6px 10px;padding-left: 0;}
.leftpanel-collapsed .nav-bracket ul a:hover {background: none;}
.leftpanel-collapsed .nav-bracket li a i {margin-right: 0;}
.leftpanel-collapsed .nav-bracket > li:hover > a > i{color: #fff;}
.leftpanel-collapsed .infosummary {display: none;}
.leftpanel-collapsed .sticky-leftpanel {overflow-y: visible;}
.leftpanel-collapsed .nav-bracket .children {display: none;width:200px;padding-left:0!important;}
.leftpanel-collapsed .nav-bracket .children li a {text-align:left;}

.leftpanel-collapsed .nav-bracket .nav-parent.nav-hover .children  li{padding-left:0px;}
.leftpanel-collapsed .nav-bracket .nav-parent.nav-hover .children  li:hover a{background:#145781;}
.leftpanel-collapsed .nav-bracket .nav-parent.nav-hover .children  li > a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 5px 0 5px 5px;
  transition: all 0.2s ease-out 0s;
  border-bottom:1px solid rgba(255,255,255,0.2);
  text-decoration:none;
}
.children > li > a > i {
  color: #fff !important;
}
.leftpanel-collapsed .nav-bracket .nav-parent.nav-hover .children > li > a > i {
  color: #fff !important;
}

.leftpanel-collapsed .nav-bracket .nav-parent.nav-hover .children  li:hover{background:none;padding-left:0px;}

/*WORKING*/

.leftpanel-collapsed .nav > li > a > span {
  display: none;
}