@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,100,900);
body{
 font-family: 'Lato', sans-serif;
 font-size:14px;
 background:#e9f3fb;
}
*{box-sizing:border-box;}
a, a:hover , a:active , a:focus{outline:none !important;box-shadow:none;}
button, button:hover , button:active , button:focus{outline:none !important;box-shadow:none;}
.logo-wrapper {
  background: #000319;
  min-height: 55px;
}
.logo-wrapper .navbar-brand {
  padding: 5px;
}
.leftpanel-collapsed .content-header-wrap {
  padding-left:50px;
}
.dropdown.mheader-dropdown button, .dropdown.mheader-dropdown .btn-primary:active, .dropdown.mheader-dropdown .btn-primary.active, .dropdown.mheader-dropdown.open > .dropdown-toggle.btn-primary
.dropdown.mheader-dropdown{
  background: transparent;
  border: medium none;
  padding: 3px 5px 2px;
}
.dropdown.mheader-dropdown button span.user {
  color: #00aaef;
  float: left;
  font-size: 15px;
  padding-right: 10px;
  text-align: right;
}
.dropdown.mheader-dropdown button .user > label {
  color: #94b7df;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}
.dropdown.mheader-dropdown button span.caret{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px dashed;
  color:#a3c9f2;
}
.profile-pic img {
  height: 40px;
  width: 40px;
}
.mheader-dropdown .count {
  background: red none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 10px;
  height: 20px;
  line-height: 18px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 0;
  width: 20px;
}
.contentpanel {
  padding-top: 35px;
}
/*menu search*/
.search-box {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}
.search-box input {
  background: rgba(255,255,255,0.8);
  border: medium none;
  border-radius: 4px;
  height: 24px;
  line-height: 20px;
  margin: 0;
  padding: 2px 5px;
  width: 159px;
}
.menu-search {
  border-left: 1px solid rgba(27, 85, 140, 0.5);
  cursor: pointer;
  padding-left: 5px;
  position: absolute;
  right: 7px;
  top: 2px;
}
/*content header*/
.content-header-wrap {
  background: #d4e4f3;
  height: 35px;
  left: 0;
  padding-left: 218px;
  position: fixed;
  top: 91px;
  width: 100% !important;
  z-index: 2;
  border-bottom: 1px solid #b4cde9;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.content-header {
  color: #04578c;
  display: inline-block;
  float: left;
  font-size: 16px;
  margin: 8px 0 0 10px;
  text-transform: uppercase;
}
.content-header-btnwrap {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.content-header-btnwrap > ul {
 float: right;
 margin: 0;
}
.content-header-btnwrap > ul > li {
 display: inline;
 float: right;
 list-style: outside none none;
 margin-left: 10px;
}
.content-header-btnwrap > ul > li a i {
 font-size: 20px;
}
.content-header-btnwrap > ul > li > a {
 cursor: pointer;
 display: block;
 padding:6px 0px;
}
.content-header-btnwrap ul > li >a:hover{
 text-decoration:none;
}

/*sidepanel view*/
.sidepanel-view::before{
	content:"";
	position:fixed;
	background-color:#000;
	width:100%;
	height:100%;
	left:0;
	top:0;
	transition:all ease 0.3s;
}
.sidepanel {
  background: #ccc;
  height: 100%;
  position: fixed;
  right:-400px;
  top: 0;
  min-width: 400px;
  z-index: 99;
  transition:all ease 0.3s;
}
.sidePanelView{right:0px;}
.content-body {
  position: relative;
  overflow:auto;
 }
.fixed-wrap{
  width: 100%;
  margin:0 auto;
  padding:15px;
  max-width:1280px;
}
.content-body .mCSB_inside > .mCSB_container {
  margin-right: 0px;
}
/*modal*/
.modal-backdrop {
  background-color: #002e5c;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal-scroll {
  overflow: auto;
  overflow:visible;
}
.modal-dialog {
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  background:#fff;
}
.modal.fade:not(.in) .modal-dialog {
 -webkit-transform: translate3d(25%, 0, 0);
  -moz-transform: translate3d(25%, 0, 0);
 transform: translate3d(25%, 0, 0);
}
.modal-content {
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
  outline: 0 none;
  border:none;
}
/*****Butttons*****/
.blue-btn {
  background: #00aaef;
  color: #fff;
}
.blue-light-btn {
  background: #7fd4f7;
  color: #fff;
}
.blue-btn:hover,.blue-btn:focus,.blue-btn:active{background:#029BD7;color:#fff;}
.blue-light-btn:hover,.blue-light-btn:focus,.blue-light-btn:active{color:#fff;background:#46C5F7;}
.modal-header {
  background: #000;
  padding: 10px 15px;
  position: relative;
}
.modal-header button.close {
  color: #fff;
  left: -35px;
  position: absolute;
  top: 15px;
  opacity: 1;
}
.modal-title {
  color: #fff;
  font-weight: bold;
}

.content-body .mCustomScrollBox > .mCSB_container {
  min-height: 500px;
}
.modal-footer {
  border: medium none;
  text-align: left;
  background: #c5dbed;
}
.heading {
  color: #04578c;
  font-size: 16px;
  font-weight: bold;
}
.heading-uppercase {
  color: #04578c;
  font-size: 14px;
  font-weight: normal;
  text-transform:uppercase;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top:1px solid #CCE4F2;
  border-bottom:1px solid #CCE4F2;
}
/********custom switcher**********/
.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch.onoffswitch-sm {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     /*border: 2px solid #858484;  border-radius: 20px;*/
    height: 30px;
    box-shadow: 0 0 2px 1px #c9c9c9;
}
.onoffswitch.onoffswitch-sm .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     /*border: 2px solid #858484; border-radius: 20px; */
    height: 21px;
    box-shadow: 0 0 2px 1px #c9c9c9;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner:before, .onoffswitch.onoffswitch-sm .onoffswitch-inner:after {
    line-height: 22px;
}
.onoffswitch-inner::before {
  background-color: #3E991C;
  color: #ffffff;
  content:"ON";
  /*content: url("../images/switch-tic.png");*/
  padding-left: 15px;
  padding-top: 0px;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner::before {
  padding-left: 10px;
}
.onoffswitch-inner::after {
  background-color: #D51919;
  color: #ffffff;
  content:"OFF";
 /* content: url("../images/switch-times.png");*/
  padding-right: 15px;
  padding-top: 0px;
  text-align: right;
}
.onoffswitch.onoffswitch-sm .onoffswitch-inner::after {
  padding-top: 0px;
  padding-right: 10px;
}
.onoffswitch-switch {
  background: #ffffff;
  /* border: 2px solid #858484; */
  border-radius: 20px;
  bottom: 0;
  display: block;
  height: 20px;
  margin: 3px 5px 3px 3px;
  position: absolute;
  right: 38px;
  top: 2px;
  transition: all 0.3s ease-in 0s;
  width: 20px;
}
.onoffswitch.onoffswitch-sm .onoffswitch-switch {
  background: #002953;
  /* border: 2px solid #858484; */
  height: 15px;
  margin: 1px 5px 3px 3px;
  right: 30px;
  width: 15px;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/******** customtables*********/
.table-textfiled {
  border: 1px solid #e8e8e8 !important;
  display: inline;
  height: 18px !important;
  margin: 0 0 0 10px !important;
  padding: 2px !important;
  width: 190px !important;
}
.pale-green-btn {
  background: #d2f4cd;
  padding: 4px 6px;
}
.pale-green-btn i {
  font-weight: bold;
  margin-left: 5px;
}
.custom-dropdown-style .dropdown-menu {
  background: #d4e4f3 none repeat scroll 0 0;
}
.custom-dropdown-style .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #e5eff8;
  color: #205080;
  text-decoration: none;
}





/* --------------------CSS Document By Raja ------------------------------------------ */



/*--------------------------------Miles---------------------------------------*/	
.miles-bg-image {
	background-color: #1a2741;
	background-image: url("../images/bg-img.png");
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0;
	background-size: cover;
}
.login-page {
  height: 130px;
  left: 50%;
  margin-left: -112px;
  margin-top: -77px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 225px;
}
.terms {
	position: absolute;
	right: 0%;
	bottom: 0;
}
.terms ul li {
	color: #40536d;
}
.terms ul li a {
	border-right: 2px solid #40536d;
	padding-right: 12px;
}
.terms ul li:last-child a {
  border: medium none;
}
.miles-bg-image:hover {
	background-color: rgba(0,0,255,0.5);
}
.logo {
	display: inline-block;
}
/*.logo img{
	margin-top:20%;
	;}	*/
.miles-bg-image p {
	color: #4f6581;
}
.google-btn {
	background: #d44330 none repeat scroll 0 0;
	box-shadow: 0 5px 0 #842a1e;
	font-size: 14px;
	padding-top: 7px;
	text-transform: uppercase;
}
.google-btn img {
	border-right: 1px solid #fff;
	padding-bottom: 1px;
	padding-right: 10px;
}
.icon-google {
	padding-right: 10px;
	border-right: 1px solid #fff;
}
.mtb {
	margin-top: 10px;
	margin-bottom: 10px;
}



/*---------------------------home-page--------------------------------------------*/	 

/*.home-page {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-312px;
	margin-top:-160px;
}*/
.c-box {
  width: 620px;
  margin: 0 auto;
}
.new-course {
	width: 625px;
	height: 250px;
	border: 1px solid #a9d2e8;
	text-align: center;
	margin: 0 auto;
}
.course {
	margin-top: 16%;
}
.add-course {
	color: #205081;
}
.course-btn {
	background: #00aaef;
	border: none;
}

/*--------------------------------fee-collection--------------------------------------------------*/   

.border-red {
	border: 1px solid #ee1c24;
}
.vertical-middle {
	padding-top: 15px;
	vertical-align: bottom;
}

.student-name {
	color: #93b6de;
	font-size: 12px;
	padding-top: 5px;
}
.custom-table {
	background: #0e5e91;
	color: #fff;
}
.custom-rows tr {
	border: none;
}
.custom-rows tr:hover {
	background: #0b6da4;
}
.proceed-btn {
	background: #00aaef none repeat scroll 0 0;
	border: medium none;
	margin-top: 20%;
	padding: 8px 25px 8px 15px;
	margin-left: 2px;
}
.symbol-red {
	color: #ee1c24;
}
label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 100%;
}

.new{
	color:#168e4e;
	}

 /*----------------------fee-payment----------------------------------*/  

.user-info {
  background: #fff;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-top: 10px;
  position: relative;
/*  border: 1px solid #a9d2e8;*/
}
.user-image {
  border: 15px solid #ebf3f9;
  height: 83px;
  left: 20px;
  margin: 15px;
  position: absolute;
  top: 0;
  width: 83px;
}
.user-image	img{
	width:100%;
	}
.user-image span {
  background: #01588e;
  color: #fff;
  display: block;
  left: -15px;
  padding: 0 1px;
  position: absolute;
  text-align: center;
  bottom: -22px;
  width: 83px;
}

.label-text {
	color: #a6c0e3;
	font-size: 12px;
	margin: 0px;
	line-height:10px;
}

.label-data {
	color: #214f81;
	border: none;
	margin-top:0px;
	font-size:14px;
}
.fee-particulars {
	outline: none;
}
.nav-text{
	border-bottom:none;
	background:#cce4f2;
	}
	.nav-text li:hover a{border-radius:0 !important;border-bottom: 4px solid #B7D8EC;}
.nav-text li a:hover{
	background:#b7d8ec;
	border-color:transparent;
	border-radius:0;
	}
.nav-text li a {
	color: #79797B;
	font-weight: normal;
	border:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: none;
	border-bottom: 4px solid #01aaef;
	color: #01aaef;
	background:none;
	border-radius:0;
	font-weight: bold;
}
.nav-tabs li a:hover {
	border-radius:0 !important;
	}
.border-bottom{
	border-bottom:1px solid #ccc;
	}
.paid-fee-head{
	color:#04578c;
	}	
	

/*---------------------------create-courses   00aaef---------------------------------------*/	
.table-custom{
border-collapse: separate!important;	
}
.table-custom tbody tr {
  color: #1d4f80;
  font-size: 12px;
  font-weight: normal;
}
.table-custom > thead > tr > th {
  border-right: 1px solid #CCE4F2;
  color: #205081;
}
.table-custom > thead > tr > th:last-child{
	border-right:none;
	} 

.table-custom tbody .selected td:first-child {
	padding-left: 8px;
	
}	
.table-custom tbody tr td:first-child {
 padding-left:8px;
}

.table-custom tbody tr.selected td {
	
}
.selected label {
	color: #00aaef;
}
.table-custom tbody tr td {
  background: #fff;
  position: relative;
  vertical-align: middle;
  border-bottom: 5px solid #E9F3FB;
  border-top: medium none;
}

/*.table-custom tbody tr td:first-child{
border-left:1px solid #a9d2e8;
}
.table-custom tbody tr td:before{
content:"";
position:absolute;
height:1px;
width:100%;
background:#a9d2e8;
top:0;
left:0;
}
.table-custom tbody tr td:after{
content:"";
position:absolute;
height:1px;
width:100%;
background:#a9d2e8;
bottom:0;
left:0;
}*/

/*.table-custom tbody tr.selected td:first-child {
  border-left: 5px solid #00aaef;
}
.table-custom tbody tr.selected td:last-child{
border-right:1px solid #00aaef;
}
.table-custom tbody tr.selected td:before{
content:"";
position:absolute;
height:1px;
width:100%;
background:#00aaef;
top:0;
left:0;
}*/
.rowspan-tr td {
  border-bottom: 1px solid #E9F3FB !important;
}
.rowspan-tr td:first-child {
  border-bottom: 5px solid #E9F3FB !important;
}
.rowspan-td {
  background: #d4e4f3!important;
  border-right: 5px solid #e9f3fb;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.table-custom tbody tr.selected td {
  background: #CCE4F2;
}
.table-custom tbody tr:hover td {
  background: #CCE4F2;
}
.table-custom tbody tr.selected td:after{
content:"";
position:absolute;
height:1px;
width:100%;
bottom:0;
left:0;
}
 .table-custom > thead > tr > th{
  padding: 8px;
}	
 .table-custom > tbody > tr > td{
  padding-top: 8px;
  padding-bottom:8px;
}	
.table-custom > tbody > tr > td label {
  margin: 0;
}
.table-custom > tbody > tr > td p {
  margin: 0;
}
.table-custom > tbody > tr > td > span{
	padding-left:5px;
	}
/*-------------------------------------masters page----------------------------------------------*/	
.masters-menu-style {
  background: #d4e4f3;
  left: 219px;
  position: fixed;
  top: 125px;
  width: 230px;
  border-right: 1px solid #b4cde9;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.leftpanel-collapsed .masters-menu-style{
	left: 50px;
	transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
	}
.masters-menu-style ul{
	padding:0px;
	/*border:1px solid #b4cde9;*/
	}	
.masters-menu-style ul li {
  border-bottom: 1px solid #b4cde9;
  color: #523355;
  list-style: outside none none;
}	
.masters-menu-style ul li a {
  color: #205081;
  display: block;
  font-size: 13px;
  padding: 5px 35px 5px 10px;
  position: relative;
  width: 98%;
}	
	.masters-menu-style ul li.active{
	background:#94b7df;
	}
.masters-menu-style ul li.active a{
	color:#fff;
	}	
.masters-menu-style ul li:hover {
	background:#c7dbef;
	color:#d64a2f;
	text-decoration:none;
	}
.masters-menu-style ul li:hover a{
	color:#205081;
	text-decoration:none;
	}	
.masters-menu-style ul li a span {
  float: right;
  position: absolute;
  right: 0;
  top: 6px;
}	
.masters-menu-info {
  padding: 15px 15px 15px 245px;
}
/*	
.table-custom tbody tr td:first-child {
	border-left: 5px solid transparent;
  color:#00aaef;
  }
.table-custom tbody tr:hover td:first-child {
	border-left: 5px solid #00aaef;
  color:#00aaef;
  }*/
 .table-custom tbody tr .selected:hover:first-child {
	 border-left: 5px solid #00aaef;
  color:#00aaef;
  } 
.table-info tbody tr.selected td {
  padding: 6px;
}
.table-info tbody tr td {
  padding: 6px;
}
.che input[type="checkbox"] {
  left: inherit;
  position: inherit;
  visibility:inherit !important;
}
.table-info thead tr th{
	padding:5px;
	border-bottom:none;
	
	}
.table-info thead tr{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	}	
.table-info tbody tr.selected{
	border: 2px solid #00aaef;
	}	
.ellips{
	color:#99bcd2;
	}
.fee-head{
	background:#c0d7ed;
	}	
.fee-head .dropdown-menu li{
	font-size:12px;
	}	
.fee-head-btn{
	background:#c0d7ed;
	color:#01588e;
	}
.feehead-list {
  left: 6px;
  right: 27px;
  top: 1px;
  
  text-align: center;
}	
.feehead-list a i{
	color:#a8c6d8;
	}
.feehead-list .dropdown-menu {
  padding-top: 6px;
  right: 1px;
  top: -8px;
}
.feehead-list .dropdown-menu li{
	font-size:12px;
	}

	
		
/*------------------------------------Fee-collection-table---------------------------------------------*/
.table-custom thead tr.table-collect{
	border:1px solid #ccc;
	}	
.table-custom thead .table-collect th{
	padding:10px;
	}	
.table-custom tbody .table-collect td input{
	margin:0;
	padding:0;
	}
.table-custom tbody .table-collect td {
	border-bottom:none;
	padding:10px;
	}		
.table-custom  tbody .table-collect td label{
	margin:0px;
	}	
.table-custom  tbody .table-collect td:first-child{
	border-left:none;
	}	
.table-custom tbody .table-collect td{
	border-top:none;
	}
.table-custom tbody .table-collect td span{
	background:#d2f4cd;
	padding:2px;
	text-align:center;
	}	
/*-------------------------------------Batches-list(1)-------------------------------------------------------------*/	
.bg-orang{
	background:#fba737;
	}
.bg-light-orang{
	background: #c9862c;
	}	
.bg-green{
	background:#7cc343;
	}	
.bg-light-green{
	background:#639c36;
	}
.bg-pink{
	background:#f07091;
	}	
.bg-skyblue{
	background:#72cbd1;
	}		
.batch-info {
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.batch-num {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
}
.batch-text {
  display: inline-block;
  font-size: 13px;
  vertical-align: text-bottom;
  padding-left: 2px;
}
.batch-cpa {
  display:block;
  font-size: 18px;
  }
 /*-----------------------Batch-info------------------------------------------------------*/ 
 .batch-data{
	 background:#fff;
}
.img-circle {
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	overflow: hidden;
	vertical-align: middle;
	width: 50px;
	float:left;
}	
.img-circle img{
	max-width:100%;
	}
.icon-data{
	width:50px;
	height:50px;
	font-size:30px;
	text-align:center;
	padding-top:8px;
	color:#00aaef;
	float:left;
}	
.batch-btn{
	background:#f0f7fc;
}	

.more-option a {
  background: #00aaef none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: -23px;
  text-align: center;
  text-transform: uppercase;
  top: 23px;
  transform: rotate(-90deg);
  width: 70px;
  text-decoration:none;
}
.table-custom tbody tr td span a{
	text-decoration:none;
}

/*-------Styles by Ramesh-------- */
.batch-btn,.batch-btn td {
  background: transparent !important;
}




/*-------Media Queries-------- */
@media (max-width: 1366px) {
  .fixed-wrap{width: 100%;}
  .img-circle {
    height: 42px;
    padding-right: 5px;
    width: 42px;
  }
  .more-option a {
    line-height: 24px;
    right: -20px;
    top: 19px;
    width: 62px;
  }
  .label-data {
    font-size: 13px;
   }
}
@media (max-width: 1280px) {
  .batch-data .img-circle {
    float: none;
    display: block;
  }
  .img-data {
    padding-left: 0;
  }
  .more-option a {
    right: -40px;
    top: 39px;
    width: 102px;
  }
  .icon-data {
    display: block;
    text-align: left;
    width: 100%;
  }
}
