<div class="modal fade" id="myBatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal="batchinfoModal" modal-width="500">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times strong"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Create Batch</h4>
      </div>
      <div class="modal-body modal-scroll clearfix">
        <div class="col-sm-12">
                    	<div class="input-field">
                            <label class="datepicker-label">Date</label>
                            <input type="date" class="datepicker relative">
                        </div>
                     </div>
       	<div class="col-sm-12">
               	<div class="input-field">
                <select multiple>
                  <option value="" disabled selected>--Select--</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label class="select-label">Subject</label>
              </div>
               </div>
        <div class="col-sm-12">
               	<div class="input-field">
                <select multiple>
                  <option value="" disabled selected>--Select--</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label class="select-label">Faculty</label>
              </div>
               </div>
        <div class="col-sm-12">
        	<div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Venue</label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue-btn"><i class="icon-right mr8"></i>Create Batch</button>
        <button type="button" class="btn blue-light-btn" data-dismiss="modal"><i class="icon-times mr8"></i>Cancel</button>
      </div>
    </div>
  </div>
</div>