
<section>
  <div class="headerbar" id="header">
    <div class="logopanel">
    	<a href="#">
        	<img src="images/logo.png" class="logo" alt="logo" />
        </a>
    </div>
    <div class="header-right">
    	 <div class="dropdown mheader-dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="user">
          	Ashok Jain
            <label>Lead Manager</label>
          </span>
          <span class="count">6</span>
          <span class="profile-pic"><img class="img-circle" src="images/profile-img.jpg"/></span>
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
    </div>
  </div>
  
  <div class="pageheader"> <a class="menutoggle"><i class="fa fa-bars"></i></a> 
      <div class="breadcrumb-wrapper">
      
      <div class="search-box">
      	<input type="text" />
         <a class="menu-search"><i class="fa fa-search"></i></a>
      </div>
      
      
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Related Page</li>
        </ol>
      </div>
    </div>
  
  <div class="leftpanel" id="leftNav">
    <div class="leftpanelinner">
      <div class="nav-slider" id="nav-slider">
        <div class="slider-content" id="scollBox">
          <ul class="nav nav-bracket" id="left-panel-main-menus-ul">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contentpanel">
        <div class="content-header-wrap">
            <h3 class="content-header">Batches Information</h3>
            <div class="content-header-btnwrap">
                <ul>
                    <li><a class="viewsidePanel"  data-target="#myModal" data-toggle="modal"><i class="icon-plus-circle" ></i></a></li>
                    <li><a></a></li>
                </ul>
            </div>   
        </div>
        <div class="content-body" id="contentBody">
    		<div class="fixed-wrap clearfix">
            	<div class="col-sm-12 p0 mb20">
                	<div class="col-sm-3 p0">
                    	<div class="batch-info bg-orang">
                        	<div class="ptb7">
                        	<div class="batch-num bg-light-orang">12</div>
                            <div class="batch-text">Running Batches</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-green">
                     		<div class="ptb7">	   
                        	<div class="batch-num bg-light-green">425</div>
                            <div class="batch-text">Students</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-pink">
                        	<div class="ptb7">
                        	<div class="batch-num">1,25,154</div>
                            <div class="batch-text">Fee Due</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-skyblue">
                        	<div class="batch-text">Retail / Corporate</div>
                            <div class="batch-cpa">cpa cma pgda</div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 p0">
                    <table class="table table-responsive table-striped table-custom">
                      <thead>
                        <tr>
                          <th>Batch ID</th>
                          <th>Course</th>
                          <th> #Enrolled </th>
                          <th>Branch</th>
                          <th>Market</th>
                          <th>Acadamic</th>
                          <th>Active/Inactive</th>
                          <th>Status</th>
                        </tr>
                        <tr><td class="border-none p0 lh10">&nbsp;</td></tr>
                      </thead>
                      <tbody>
                        <tr class="">
                          <td> HYDCPT16A</td>
                           <td>CPT</td>
                          <td>45</td>
                          <td>Srinagar Colony, Hyderabad</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td><div class="switch">
                                <label>
                                  Off
                                  <input type="checkbox">
                                  <span class="lever"></span>
                                  On
                                </label>
                            </div>
                           </td>
                          <td>  INPROGRESS
                               <div class="dropdown feehead-list pull-right custom-dropdown-style">
                              <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v f18 pr10"></i>
                              </a>
                              <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                 <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                                 <li><a href="#">Open</a></li>
                                 <li><a href="#">Edit</a></li>
                                 <li><a href="#">Duplicate</a></li>
                                 <li><a href="#">Delete</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr class="">
                          <td> HYDCPT16A</td>
                           <td>CPT</td>
                          <td>45</td>
                          <td>Srinagar Colony, Hyderabad</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td>
                            <div class="switch">
                            <label>
                              Off
                              <input type="checkbox">
                              <span class="lever"></span>
                              On
                            </label>
                            </div>
                           </td>
                          <td>  INPROGRESS
                               <div class="dropdown feehead-list pull-right custom-dropdown-style">
                              <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v f18 pr10"></i>
                              </a>
                              <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                 <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                                 <li><a href="#">Open</a></li>
                                 <li><a href="#">Edit</a></li>
                                 <li><a href="#">Duplicate</a></li>
                                 <li><a href="#">Delete</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr class="">
                          <td> HYDCPT16A</td>
                           <td>CPT</td>
                          <td>45</td>
                          <td>Srinagar Colony, Hyderabad</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td>23 Jan, 2016	-  15 Feb, 2016</td>
                          <td><div class="switch">
                                <label>
                                  Off
                                  <input type="checkbox">
                                  <span class="lever"></span>
                                  On
                                </label>
                            </div>
                           </td>
                          <td>  INPROGRESS
                               <div class="dropdown feehead-list pull-right custom-dropdown-style">
                              <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v f18 pr10"></i>
                              </a>
                              <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                 <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                                 <li><a href="#">Open</a></li>
                                 <li><a href="#">Edit</a></li>
                                 <li><a href="#">Duplicate</a></li>
                                 <li><a href="#">Delete</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                
                
                
                
            </div>
        </div>
  </div>
</section>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal="right" modal-width="500">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times strong"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Create Batch</h4>
      </div>
      <div class="modal-body modal-scroll clearfix">
       	<div class="col-sm-12">
            <div class="input-field">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Batch Name</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-field">
                <select multiple>
                <option value="" disabled selected>&#45;&#45;Select&#45;&#45;</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                </select>
                <label class="select-label">Courses</label>
            </div>
        </div>
        
        <div class="col-sm-12">
        	<div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Description</label>
            </div>
        </div>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue-btn"><i class="icon-right mr8"></i>Create Batch</button>
         <button type="button" class="btn blue-light-btn" data-dismiss="modal"><i class="icon-times mr8"></i>Cancel</button>
      </div>
    </div>
  </div>
</div>-->

