 <div class="content-header-wrap">
      <h3 class="content-header">Hydcpt16a</h3>
      <div class="content-header-btnwrap">
        <ul>
          <li><a class="viewsidePanel"><i class="icon-times"></i></a></li>
          <!--<li><a><i class="icon-filter"></i></a></li>
          <li><a></a></li>-->
        </ul>
      </div>
    </div>
    <div class="content-body" id="contentBody">
      <div class="fixed-wrap clearfix">
        <div class="col-sm-12 p0">
          <div class="col-sm-8 batch-data">
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Batch Name</p>
              <label class="label-data darkblue">HYDCPT16A</label>
            </div>
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Created Date</p>
              <label class="label-data">23 june,2015</label>
            </div>
            <div class="col-sm-6 mtb10">
              <p class=" label-text">Course</p>
              <label class="label-data">CPT</label>
            </div>
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Marketing Start Date</p>
              <label class="label-data">23 Jan,2016</label>
            </div>
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Marketing End Date</p>
              <label class="label-data">15 Feb,2016</label>
            </div>
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Academic Start Date</p>
              <label class="label-data">01 Feb,2016</label>
            </div>
            <div class="col-sm-3 mtb10">
              <p class=" label-text">Academic End Date</p>
              <label class="label-data">24 Mar,2016</label>
            </div>
          </div>
          <div class="col-sm-4 pr0">
              <img src="images/column-chart.png" class="max-width100p">
          </div>
        </div>
        <div class="col-sm-12 p0 relative">
          <div class="col-sm-6 pl0 relative">
            <h4 class="heading-uppercase mb5">Users Working</h4>
            <div class="col-sm-12 batch-data p0">
              <div class="col-sm-4 mtb10">
                <div class="img-circle"> <img src="images/image3.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Sripal Jain</label>
                  <p class="label-text ">Marketing Head</p>
                </div>
              </div>
              <div class="col-sm-4 mtb10 pl0">
                <div class="img-circle"> <img src="images/image4.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Srinivas Chinm</label>
                  <p class="label-text ">Marketing Head</p>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="img-circle"> <img src="images/image5.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Sripal Jain</label>
                  <p class="label-text">Marketing Head</p>
                </div>
              </div>
              <div class="more-option"><a href="#">More</a></div>
            </div>
          </div>
          <div class="col-sm-6 p0">
            <h4 class="heading-uppercase mb5">Statistics</h4>
            <div class="col-sm-12 batch-data p0">
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="icon-users1"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">No. of Students</p>
                  <label class="label-data f16">47</label>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="icon-file"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">Paid</p>
                  <label class="label-data f16">12,45,800</label>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="fa fa-thumbs-o-down"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">Due</p>
                  <label class="label-data f16">4,22,100</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 p0 mt5">
          <table class="table table-responsive table-striped table-custom mt5">
            <thead>
              <tr class="">
                <th>Date</th>
                <th>Subject</th>
                <th>Faculty </th>
                <th>Venue</th>
              </tr>
              <tr class="">
                <td class="border-none p0 lh10">&nbsp;</td>
              </tr>
              <!-- <tr><td class="border-none p0 lh5">&nbsp;</td></tr>-->
            </thead>
            <tbody>
              <tr class="batch-btn">
                <td colspan="4"class="p0"><button class="btn blue-btn btn-xs pull-right margin0" type="button">Import</button></td>
              </tr>
              <tr class="">
                <td>14 May,2015-Sunday</td>
                <td>Statistics.</td>
                <td>Venkatesh</td>
                <td>Satyasai Nigama Gammam,Srinagar Colony,Hyderabad <span class="pull-right"><a class="viewsidePanel" href="#"  data-target="#myBatch" data-toggle="modal"><i class="icon-edit f16"></i></a></span></td>
              </tr>
              <tr class="">
                <td>14 May,2015-Sunday</td>
                <td>Statistics.</td>
                <td>Venkatesh</td>
                <td>Satyasai Nigama Gammam,Srinagar Colony,Hyderabad <span class="pull-right"><a href="#"><i class="icon-edit f16"></i></a></span></td>
              </tr>
              <tr class="">
                <td>14 May,2015-Sunday</td>
                <td>Statistics.</td>
                <td>Venkatesh</td>
                <td>Satyasai Nigama Gammam,Srinagar Colony,Hyderabad <span class="pull-right"><a href="#"><i class="icon-edit f16"></i></a></span></td>
              </tr>
              <tr class="">
                <td>14 May,2015-Sunday</td>
                <td>Statistics.</td>
                <td>Venkatesh</td>
                <td>Satyasai Nigama Gammam,Srinagar Colony,Hyderabad <span class="pull-right"><a href="#"><i class="icon-edit f16"></i></a></span></td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="col-sm-3 mt10 pr0">
                <!--<div class="widget-right border border-blue">
                    <div class="widget-header light-dark-blue ">
                        <h4 class="heading-uppercase f14 m0 text-center p10">Student Enrolled (120)</h4>
                    </div>
                </div>-->
              <img src="images/student-enrolled.png" class="max-width100p">
          </div>
      </div>
    </div>



