
<section>
  <div class="headerbar" id="header">
    <div class="logopanel">
    	<a href="#">
        	<img src="images/logo.png" class="logo" alt="logo" />
        </a>
    </div>
    <div class="header-right">
    	 <div class="dropdown mheader-dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="user">
          	Ashok Jain
            <label>Lead Manager</label>
          </span>
          <span class="count">6</span>
          <span class="profile-pic"><img class="img-circle" src="images/profile-img.jpg"/></span>
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
    </div>
  </div>
  
  <div class="pageheader"> <a class="menutoggle"><i class="fa fa-bars"></i></a> 
      <div class="breadcrumb-wrapper">
      
      <div class="search-box">
      	<input type="text" />
         <a class="menu-search"><i class="fa fa-search"></i></a>
      </div>
      
      
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Branches</li>
        </ol>
      </div>
    </div>
  
  <div class="leftpanel" id="leftNav">
    <div class="leftpanelinner">
      <div class="nav-slider" id="nav-slider">
        <div class="slider-content" id="scollBox">
          <ul class="nav nav-bracket" id="left-panel-main-menus-ul">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contentpanel">
        <div class="content-header-wrap">
            <h3 class="content-header">Branch Information</h3>
            <div class="content-header-btnwrap">
                <ul>
                    <li><a class="viewsidePanel"  data-target="#myModal" data-toggle="modal"><i class="icon-plus-circle" ></i></a></li>
                    <li><a></a></li>
                </ul>
            </div>   
        </div>
        <div class="content-body" id="contentBody">
    		<div class="fixed-wrap clearfix">
            	<div class="col-sm-12 p0 mb20">
                	<div class="col-sm-3 p0">
                    	<div class="batch-info bg-orang">
                        	<div class="ptb7">
                        	<div class="batch-num bg-light-orang">12</div>
                            <div class="batch-text">Running Branches</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-green">
                     		<div class="ptb7">	   
                        	<div class="batch-num bg-light-green">425</div>
                            <div class="batch-text">Students</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-pink">
                        	<div class="ptb7">
                        	<div class="batch-num">1,25,154</div>
                            <div class="batch-text">Fee Due</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 p0">
                    	<div class="batch-info bg-skyblue">
                        	<div class="batch-text">Retail / Corporate</div>
                            <div class="batch-cpa">cpa cma pgda</div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 p0">
                    <table class="table table-responsive table-striped table-custom">
                      <thead>
                        <tr>
                          <th>Center</th>
                          <th>Course Offered</th>
                          <th> No. of Batches </th>
                          <th>Next Branch Start	Date</th>
                          <th>Students</th>
                          <th>Comments</th>
                        </tr>
                        <tr><td class="border-none p0 lh10">&nbsp;</td></tr>
                      </thead>
                      <tbody>
                        <tr class="rowspan-group-tr">
                          <td rowspan="3" class="rowspan-td"> HYDERABAD</td>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr class="rowspan-group-tr">
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                        <tr class="rowspan-group-tr">
                          <td rowspan="3" class="rowspan-td"> CHENNAI</td>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr class="rowspan-group-tr">
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                        <tr class="rowspan-group-tr">
                          <td rowspan="3" class="rowspan-td"> BANGLORE</td>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr class="rowspan-group-tr">
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                         <tr>
                          <td> CPA</td>
                          <td>15</td>
                          <td>December, 2015</td>
                          <td>110</td>
                          <td>-</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                
                
                
                
            </div>
        </div>
  </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal="right" modal-width="500">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times strong"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Create Branch</h4>
      </div>
      <div class="modal-body modal-scroll clearfix">
       	<div class="col-sm-12">
            <div class="input-field">
              <input id="branch_name" type="text" class="validate">
              <label for="branch_name">Branch Name</label>
            </div>
        </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <select>
                      <option value="" disabled selected>--Select--</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                  </select>
                  <label class="select-label">Country</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <select>
                      <option value="" disabled selected>--Select--</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                  </select>
                  <label class="select-label">State</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <input id="city" type="text" class="validate">
                  <label for="city">City</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <input id="zip" type="text" class="validate">
                  <label for="zip">Zip</label>
              </div>

          </div>
          <div class="col-sm-12">
              <div class="input-field">
                  <select multiple>
                      <option value="" disabled selected>---Select--</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                  </select>
                  <label class="select-label">Courses</label>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="input-field">
                  <select multiple>
                      <option value="" disabled selected>--Select--</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                  </select>
                  <label class="select-label">Primary Cities</label>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="input-field">
                  <select multiple>
                      <option value="" disabled selected>--Select--</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                  </select>
                  <label class="select-label">Secondary Cities</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Phone</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-field">
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="input-field">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Description</label>
              </div>
          </div>
      </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="button" class="btn blue-btn"><i class="icon-right mr8"></i>Create Branch</button>
            <button type="button" class="btn blue-light-btn" data-dismiss="modal"><i class="icon-times mr8"></i>Cancel</button>
        </div>
    </div>
  </div>
</div>

