




    <div class="content-header-wrap">
      <h3 class="content-header">Hyderabad</h3>
      <div class="content-header-btnwrap">
        <ul>
            <li><a class="viewsidePanel" class="text-dec-none"><i class="icon-times"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="content-body" id="contentBody">
      <div class="fixed-wrap clearfix">
        <div class="col-sm-12 p0">
          <div class="col-sm-8 batch-data">
            <div class="col-sm-6 mtb10">
              <p class=" label-text">Branch Name</p>
              <label class="label-data darkblue">Hyderabad</label>
            </div>
            <div class="col-sm-6 mtb10">
              <p class=" label-text">Total Strength</p>
              <label class="label-data">383</label>
            </div>
            <div class="col-sm-6 mtb10">
              <p class=" label-text">Primary Cities</p>
              <label class="label-data">Hyderabad, Bangalore</label>
            </div>
              <div class="col-sm-6 mtb10">
                  <p class=" label-text">Secondary Cities</p>
                  <label class="label-data">Hyderabad, Bangalore</label>
              </div>

          </div>
          <div class="col-sm-4 pr0">
              <img src="images/graph.png" class="max-width100p">
          </div>
        </div>
        <div class="col-sm-12 p0 relative">
          <div class="col-sm-6 p0">
            <h4 class="heading-uppercase mb5">Users Working</h4>
            <div class="col-sm-12 batch-data p0">
              <div class="col-sm-4 mtb10">
                <div class="img-circle"> <img src="images/image3.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Sripal Jain</label>
                  <p class="label-text ">Marketing Head</p>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="img-circle"> <img src="images/image4.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Srinivas Chinm</label>
                  <p class="label-text ">Marketing Head</p>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="img-circle"> <img src="images/image5.png"> </div>
                <div class="pull-left pl5 pt5 img-data">
                  <label class="label-data">Sripal Jain</label>
                  <p class="label-text">Marketing Head</p>
                </div>
              </div>
              <div class="more-option"><a href="#">More</a></div>
            </div>
          </div>
          <div class="col-sm-6 pr0">
            <h4 class="heading-uppercase mb5">Statistics</h4>
            <div class="col-sm-12 batch-data p0">
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="icon-users1"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">No. of Students</p>
                  <label class="label-data f16">47</label>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="icon-file"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">Paid</p>
                  <label class="label-data f16">12,45,800</label>
                </div>
              </div>
              <div class="col-sm-4 mtb10">
                <div class="icon-data"> <i class="fa fa-thumbs-o-down"></i> </div>
                <div class="pt10">
                  <p class="label-text p-clr">Due</p>
                  <label class="label-data f16">4,22,100</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 p0 mt5">
          <table class="table table-responsive table-striped table-custom mt5">
            <thead>
              <tr class="">
                <th>Batch ID</th>
                <th>Course</th>
                <th>Date </th>
                <th>No.of Students</th>
              </tr>
              <tr class="">
                <td class="border-none p0 lh10">&nbsp;</td>
              </tr>
              <!-- <tr><td class="border-none p0 lh5">&nbsp;</td></tr>-->
            </thead>
            <tbody>
              <tr class="no-bg">
                  <td colspan="4" class="no-bg"><h4 class="text-uppercase m0 f14">Upcoming Batches (2)</h4></td>
              </tr>
              <tr class="">
                <td>JUN/AUG</td>
                <td>CPA</td>
                <td>Not Defined</td>
                <td>10</td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>14 May,2016</td>
                  <td>05</td>
              </tr>
              <tr class="no-bg">
                  <td colspan="4" class="no-bg"><h4 class="text-uppercase m0 f14">Current Batches (3)</h4></td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>Not Defined</td>
                  <td>10</td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>14 May,2016</td>
                  <td>15</td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>Not Defined</td>
                  <td>10</td>
              </tr>
              <tr class="no-bg">
                  <td colspan="4" class="no-bg"><h4 class="text-uppercase m0 f14">Completed Batches (3)</h4></td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>14 Dec,2015</td>
                  <td>10</td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>03 Nov,2015</td>
                  <td>15</td>
              </tr>
              <tr class="">
                  <td>JUN/AUG</td>
                  <td>CPA</td>
                  <td>02 AUG,2015</td>
                  <td>10</td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="col-sm-3 mt10 pr0">
                <!--<div class="widget-right border border-blue">
                    <div class="widget-header light-dark-blue ">
                        <h4 class="heading-uppercase f14 m0 text-center p10">Student Enrolled (120)</h4>
                    </div>
                </div>-->
              <img src="images/student-enrolled.png" class="max-width100p">
          </div>
      </div>
    </div>




