
<section>
  <div class="headerbar" id="header">
    <div class="logopanel">
    	<a href="#">
        	<img src="images/logo.png" class="logo" alt="logo" />
        </a>
    </div>
    <div class="header-right">
    	 <div class="dropdown mheader-dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="user">
          	Ashok Jain
            <label>Lead Manager</label>
          </span>
          <span class="count">6</span>
          <span class="profile-pic"><img class="img-circle" src="images/profile-img.jpg"/></span>
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
    </div>
  </div>
  
  <div class="pageheader"> <a class="menutoggle"><i class="fa fa-bars"></i></a> 
      <div class="breadcrumb-wrapper">
      
      <div class="search-box">
      	<input type="text" />
         <a class="menu-search"><i class="fa fa-search"></i></a>
      </div>
      
      
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Related Page</li>
        </ol>
      </div>
    </div>
  
  <div class="leftpanel" id="leftNav">
    <div class="leftpanelinner">
      <div class="nav-slider" id="nav-slider">
        <div class="slider-content" id="scollBox">
          <ul class="nav nav-bracket" id="left-panel-main-menus-ul">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contentpanel">
        <div class="content-header-wrap">
            <h3 class="content-header">Fee Collection</h3>
            <div class="content-header-btnwrap">
                <ul>
                    <li><a class="viewsidePanel"><i class="icon-plus-circle"></i></a></li>
                    <li><a><i class="icon-filter"></i></a></li>
                    <li><a></a></li>
                </ul>
            </div>   
        </div>
        <div class="content-body" id="contentBody">
            <div class="fixed-wrap clearfix">
            	<div class="user-info clearfix">
    
      <div class="user-image">
       <img src="images/user2.png">
        <span>15WBB0411</span>
      </div>
    
    <div class="col-sm-12">
      <div class="col-sm-3 mt10">
        <p class=" label-text">Student Name</p>
        <label class="label-data">Dineesh</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Course</p>
        <label class="label-data">CPT</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Branch</p>
        <label class="label-data">SR Nagar, Hyderabad</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Currency</p>
        <label class="label-data">Rupees</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Phone</p>
        <label class="label-data">9845612458</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">E-mail</p>
        <label class="label-data">dineesh@gmail.com</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Company</p>
        <label class="label-data">Infosys</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Fee Due</p>
        <label class="label-data">85,000</label>
      </div>
    </div>
  </div>
  <div class="col-sm-12 p0 mt10">
  <ul class="nav nav-tabs nav-text">
    <li><a data-toggle="tab" href="#paid-fee">PAYMENT HISTORY</a></li>
    <li  class="active fee-particulars"><a data-toggle="tab" href="#particulars">FEE PARTICULARS</a></li>
    <li><a data-toggle="tab" href="#non-payment">NON PAYABLE FEE PARTICULARS</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div id="paid-fee" class="tab-pane fade in active">
      <h4 class="heading">Paid Fee Details</h4>
      <div class="col-sm-12 p0 mt5">
                    <table class="table table-responsive table-striped table-custom">
                      <thead>
                        <tr class="">
                          <th>Term</th>
                          <th>Feehead Name</th>
                          <th>Company </th>
                          <th>Grand Total</th>
                          <th>Amount Paid</th>
                          <th>Balance</th>
                        </tr>
                        <tr><td class="border-none p0 lh10">&nbsp;</td></tr>
                      </thead>
                      <tbody>
                        <tr class="rowspan-tr">
                          <td rowspan=2><label>Term1</label>
                          <p>01/06/2015</p>
                            </td>
                          <td>Books</td>
                          <td>Miles Publications Pvt.Ltd.</td>
                          <td>30,000</td>
                          <td>30,000</td>
                          <td>Nil<span class="pale-green-btn ml15">Payment Recived <i class="icon-right green"></i></span><input class="table-textfiled" type="text" class="m0" placeholder="Paying now"></td>
                        </tr>
                        <tr class="">
                          <td>Tution</td>
                          <td>Miles Educational Initiative Pvt.Ltd.</td>
                          <td>35,000</td>
                          <td>35,000</td>
                         <td>Nil<span class="pale-green-btn ml15">Payment Recived <i class="icon-right green"></i></span><input class="table-textfiled" type="text" class="m0" placeholder="Paying now"></td>
                        </tr>
                        <tr class="">
                          <td><label>Term1</label>
                            </td>
                          <td>Books</td>
                          <td>Miles Publications Pvt.Ltd.</td>
                          <td>30,000</td>
                          <td>30,000</td>
                          <td>Nil<span class="pale-green-btn ml15">Payment Recived <i class="icon-right green"></i></span><input class="table-textfiled" type="text" class="m0" placeholder="Paying now"></td>
                        </tr>
                         <tr class="selected">
                          <td><label>Term1</label>
                            </td>
                          <td>Books</td>
                          <td>Miles Publications Pvt.Ltd.</td>
                          <td>30,000</td>
                          <td>30,000</td>
                          <td>Nil<span class="pale-green-btn ml15">Payment Recived <i class="icon-right green"></i></span><input class="table-textfiled" type="text" class="m0" placeholder="Paying now"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
    </div>
    <div id="particulars" class="tab-pane fade">
      <h4 class="paid-fee-head">Fee Particulars</h4>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="non-payment" class="tab-pane fade">
      <h4 class="paid-fee-head">Non Payable Fee Particulars</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
  
    </div>
            </div>
        </div>
  </div>
</section>
