<header>
    <div class="headerbar" id="header" ng-controller="AppCtrl">
        <div class="logopanel">
            <a href="#">
                <img src="images/logo.png" class="logo" alt="logo" />
            </a>
        </div>
        <div class="header-right">
            <div class="dropdown mheader-dropdown" ng-click="toggleMenu();">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="user">
                        Ashok Jain
                        <label>Lead Manager</label>
                    </span>
                    <span class="count">6</span>
                    <span class="profile-pic"><img class="img-circle" src="images/profile-img.jpg"/></span>
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu" ng-show="menuOpened">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
            </div>
        </div>
    </div>
</header>
<div class="pageheader">
    <a class="menutoggle"><i class="fa fa-bars"></i></a>
    <div class="breadcrumb-wrapper">

        <div class="search-box">
            <input type="text" />
            <a class="menu-search"><i class="fa fa-search"></i></a>
        </div>


        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Related Page</li>
        </ol>
    </div>
</div>
<div class="leftpanel" id="leftNav" side-navigation>
    <div class="leftpanelinner">
        <div class="nav-slider" id="nav-slider">
            <div class="slider-content" id="scollBox">
                <ul class="nav nav-bracket" id="left-panel-main-menus-ul">

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="contentpanel">
    <div ui-view>  </div>
</div>