<div class="wrapper">
  <div class="miles-bg-image">
    <div class="login-page">
      <div class="logo">
        <img src="images/logo.png" >
      </div>
      <p class=" mtb f12 display-inline-block">Login with Company Gmail Address</p>
      <div class="display-inline-block">
        <button class="btn btn-danger btn-sm google-btn">
          <img src="images/google2.png">
          <span class="p10">Login With Google</span></button>

      </div>
    </div>
    <div class="terms">
      <ul class="list-inline ">
        <li><a href="javascrpit:;">Terms & Conditions</a></li>
        <li><a href="javascrpit:;">Contact</a></li>
        <li><a href="javascrpit:;">Help</a></li>
      </ul>
    </div>
  </div>
</div>
