
<section>
  <div class="headerbar" id="header">
    <div class="logopanel"> <a href="#"> <img src="images/logo.png" class="logo" alt="logo" /> </a> </div>
    <div class="header-right">
      <div class="dropdown mheader-dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="user"> Ashok Jain
        <label>Lead Manager</label>
        </span> <span class="count">6</span> <span class="profile-pic"><img class="img-circle" src="images/profile-img.jpg"/></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pageheader"> <a class="menutoggle"><i class="fa fa-bars"></i></a>
    <div class="breadcrumb-wrapper">
      <div class="search-box">
        <input type="text" />
        <a class="menu-search"><i class="fa fa-search"></i></a> </div>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Related Page</li>
      </ol>
    </div>
  </div>
  <div class="leftpanel" id="leftNav">
    <div class="leftpanelinner">
      <div class="nav-slider" id="nav-slider">
        <div class="slider-content" id="scollBox">
          <ul class="nav nav-bracket" id="left-panel-main-menus-ul">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contentpanel">
    <div class="content-header-wrap">
      <h3 class="content-header">Masters</h3>
      <div class="content-header-btnwrap">
        <ul>
          <li><a><i class="fa fa-ellipsis-v"></i></a></li>
          <li><a><i class="icon-trash"></i></a></li>
          <li><a id=""><i class="icon-edit"></i></a></li>
          <li><a class="" data-toggle="modal" data-target="#myModal"><i class="icon-plus-circle"></i></a></li>
          <li class="dropdown fee-head">
              <button class="btn  dropdown-toggle fee-head-btn" type="button" data-toggle="dropdown">All Feeheads
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-body" id="contentBody">
      <div class="fixed-wrap">
        <div class="col-sm-12 p0">
          <table class="table table-responsive table-striped table-custom table-info">
            <thead>
              <tr>
                <th>Feehead</th>
              </tr>
            </thead>
            <tbody>
              <tr class="selected">
                <td>Tution Fee</td>
                <td>14 May, 2015</td>
                <td>Description regarding tution fee</td>
                <td>
                	<div class="dropdown feehead-list">
                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v f18"></i>
                      </a>
                    
                      <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                         <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                      	 <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                      </ul>
                    </div>
                </td>
              </tr>
              <tr>
                <td>Admission Fee</td>
                <td>14 May, 2015</td>
                <td>Description regarding tution fee</td>
                <td>
                	<div class="dropdown feehead-list">
                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v f18"></i>
                      </a>
                      <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                         <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                      	 <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                      </ul>
                    </div>
                </td> 
              </tr>
              <tr>
                <td>Late Fee</td>
                <td>14 May, 2015</td>
                <td>Description regarding tution fee</td>
                <td>
                	<div class="dropdown feehead-list">
                      <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v f18"></i>
                      </a>
                      <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                      	 <li class="text-right pr10"><i class="fa fa-ellipsis-v f18"></i></li>
                         <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                      </ul>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal="right" modal-width="500">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times strong"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Feehead</h4>
      </div>
      <div class="modal-body modal-scroll">
       	<div class="col-sm-12">
            <div class="input-field">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Text</label>
            </div>
        </div>
        <div class="col-sm-12">
        <div class="input-field">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label class="select-label">Materialize Select</label>
      </div>
       </div>
               
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue-btn"><i class="icon-right mr8"></i>Save changes</button>
         <button type="button" class="btn blue-light-btn" data-dismiss="modal"><i class="icon-times mr8"></i>Close</button>
      </div>
    </div>
  </div>
</div>-->

