
<section>

  

  

  <div class="contentpanel">
        <div class="content-header-wrap">
            <h3 class="content-header">Fee Concession</h3>
            <div class="content-header-btnwrap">
                <ul>
                    <li><a class="viewsidePanel"><i class="icon-plus-circle"></i></a></li>
                    <li><a><i class="icon-filter"></i></a></li>
                    <li><a></a></li>
                </ul>
            </div>   
        </div>
        <div class="content-body" id="contentBody">
            <div class="fixed-wrap">
            	<div class="user-info clearfix">
    
      <div class="user-image">
       <img src="images/user2.png">
        <span>15WBB0411</span>
      </div>
    
    <div class="col-sm-12">
      <div class="col-sm-3 mt10">
        <p class=" label-text">Student Name</p>
        <label class="label-data">Dineesh</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Course</p>
        <label class="label-data">CPT</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Branch</p>
        <label class="label-data">SR Nagar, Hyderabad</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Currency</p>
        <label class="label-data">Rupees</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Phone</p>
        <label class="label-data">9845612458</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">E-mail</p>
        <label class="label-data">dineesh@gmail.com</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Company</p>
        <label class="label-data">Infosys</label>
      </div>
      <div class="col-sm-3 mt10">
        <p class=" label-text">Fee Due</p>
        <label class="label-data">85,000</label>
      </div>
    </div>
  </div>
  <div class="col-sm-12 p0">
  <ul class="nav nav-tabs nav-text">
    <li><a data-toggle="tab" href="#paid-fee">PAYMENT HISTORY</a></li>
    <li  class="active fee-particulars"><a data-toggle="tab" href="#particulars">FEE PARTICULARS</a></li>
    <li><a data-toggle="tab" href="#non-payment">NON PAYABLE FEE PARTICULARS</a></li>
  </ul>
  <div class="tab-content pl20">
    <div id="paid-fee" class="tab-pane fade in active">
      <h4 class="paid-fee-head">Paid Fee Details</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="particulars" class="tab-pane fade">
      <h4 class="paid-fee-head">Fee Particulars</h4>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="non-payment" class="tab-pane fade">
      <h4 class="paid-fee-head">Non Payable Fee Particulars</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
  
    </div>
            </div>
        </div>
  </div>
</section>

