        <div class="content-body" id="contentBody">
        	<div class="home-page-parent">
            	<div class="home-page c-box">
                <p class="add-course text-left pl20 mb5"><strong >Welcome,</strong> you have no courses add a new course</p>
                <div class="new-course text-center">
                    <div class="course">
                    <button class="btn btn-primary course-btn"><span class=" icon-plus-circle pr10"></span>Add a New Course</button>
                    </div>
                </div>
            </div>
            </div>
    		 
        </div>


